@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .head{
    width: 1445px;
    height: 2253px;
}
.headp{
    color: var(--Black, #070707);
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 34px;
    font-weight: 400;
    padding-top: 115px;
    padding-left: 589px;
}
.headimg{
    padding-left: 257.71px;
    padding-top: 44.94px;
}
.homepage{
    color: var(--Black, #070707);
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 45px;
    padding-left: 460px;
    text-decoration-line: underline;
}
.headimg2{
    padding-top: 98.97px;
    padding-left: 256.89px;
}
.headimg3{
    padding-top: 103.97px;
    padding-left: 252.7px;
}
.concept{
    color: var(--Black, #070707);
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 40px;
    padding-left: 522px;
    text-decoration-line: underline;
}
.concept2{
    color: var(--Black, #070707);
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 40px;
    padding-left: 466px;
    text-decoration-line: underline;
} */
